---
import ArrowRight from '@/icons/ArrowRight.astro';
import Check from '@/icons/Check.astro';
import LocationSolid from '@/icons/LocationSolid.astro';

const { company, position, url, startDate, endDate, summary, highlights } =
  Astro.props;

const highlightsContent =
  highlights.length > 0 &&
  highlights.map(({ content, highlight }) =>
    content.replace(highlight, `<strong>${highlight}</strong>`)
  );
---

<span
  class='absolute flex items-center justify-center size-6 bg-blue-100 rounded-full start-1 dark:ring-gray-900 dark:bg-blue-900'
>
  <LocationSolid class='size-3.5 fill-blue-500 dark:fill-blue-300' />
</span>

<h3
  class='flex items-center text-2xl font-bold text-blue-500 dark:text-blue-400'
>
  {position}
  {
    !endDate && (
      <span class='text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-blue-100 dark:bg-blue-950 dark:text-blue-300 text-blue-800 ms-3'>
        Actual
      </span>
    )
  }
</h3>
<span class='text-lg font-semibold text-gray-600 dark:text-white'
  >{company}</span
>
<time
  class='block mt-1 mb-2 text-xs leading-none text-gray-500 dark:text-gray-300'
>
  {`${startDate} - ${endDate ?? 'Presente'}`}
</time>
<p class='pb-2 font-medium text-gray-600 dark:text-white'>
  {summary}
  {
    highlightsContent && (
      <ul class='max-w-2xl text-gray-500 dark:text-gray-200'>
        {highlightsContent.map((highlight) => (
          <li class='flex items-baseline gap-2'>
            <Check class='size-3 text-blue-500 dark:text-blue-400' />
            <p
              class='w-full text-pretty [&>strong]:font-semibold [&>strong]:text-blue-500 dark:[&>strong]:text-blue-300'
              set:html={highlight}
            />
          </li>
        ))}
      </ul>
    )
  }
</p>
{
  url && (
    <a
      href={url}
      target='_blank'
      class='inline-flex items-center gap-1 px-4 py-2 mt-2 text-sm font-semibold text-gray-600 bg-white border border-gray-200 rounded-lg hover:bg-sky-50 hover:text-blue-500 dark:hover:text-white dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-slate-800/60 transition group'
    >
      Empresa
      <ArrowRight class='size-3 text-blue-500 dark:text-blue-400 group-hover:translate-x-1 transition-transform' />
    </a>
  )
}
