---
import ArrowRight from "@/icons/ArrowRight.astro";
import HeroTags from "./HeroTags.astro";

const { basics } = Astro.props;
const { profiles, available, languages } = basics;

const linkedInUrl = profiles.find(({ network }) => network === "LinkedIn").url;
const [title, summary, technologies] = basics.summary.split(":");
---

<div class="flex max-sm:flex-col gap-x-2 items-center">
  <picture class="relative aspect-square flex-none">
    {
      available && (
        <a
          class="group absolute flex items-center justify-center bottom-[95%] left-[95%] rounded-full size-4 bg-blue-400 dark:bg-green-500 p-px transition cursor-pointer"
          target="_blank"
          href={linkedInUrl}
        >
          <span class=" bg-blue-600 dark:bg-green-500 rounded-full size-4 animate-ping" />
          <div class="absolute bottom-6 scale-0 group-hover:scale-100 transition origin-bottom rounded-lg text-sm font-semibold py-2 px-3 bg-gradient-to-br from-blue-500 to-sky-400 text-white">
            <p class="whitespace-nowrap">Disponible para trabajo</p>
          </div>
        </a>
      )
    }
    <img
      class="size-32 sm:size-48 border border-gray rounded-xl"
      src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
      alt="user img"
    />
  </picture>
  <div class="max-w-xl p-2">
    <h1
      class="text-gray-800 dark:text-white text-4xl sm:text-5xl font-bold pb-4"
    >
      Hola! soy Ricardo Ramirez
    </h1>
    <p
      class="text-lg dark:text-gray-200 [&>strong]:text-blue-400 [&>strong]:font-bold text-pretty"
    >
      <strong
        ><a href="http://www.unipacifico.edu.co/" target="_blank">{title}</a
        ></strong
      >
      {summary}
      <strong><a href="#skills">{technologies}</a></strong>
    </p>
  </div>
</div>
<HeroTags profiles={profiles} />
<div class="space-x-2 mt-2 cursor-default">
  {
    languages &&
      languages.map(({ language, fluency, certificate, organization }) => (
        <a
          href={certificate}
          target="_blank"
          title={organization}
          class={`${certificate && "group"} inline-flex gap-x-1 items-center text-xs px-3 py-1 bg-slate-200 dark:bg-slate-700 dark:text-white rounded-full`}
        >
          <span>
            <strong class="text-blue-500 dark:text-blue-300">
              {`${language} - `}
            </strong>
            {fluency}
          </span>
          {certificate && (
            <ArrowRight class="size-2.5 group-hover:scale-[1.2] text-blue-500 dark:text-blue-400 transition" />
          )}
        </a>
      ))
  }
</div>
