---
import SocialPill from "./SocialPill.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Contáctame from "@/icons/Mail.astro";

const { basics } = Astro.props;
const { profiles } = basics;

const SOCIAL_ICONS = {
  LinkedIn,
  GitHub,
  Contáctame,
};

const linkedInUrl = profiles.find(({ network }) => network === "LinkedIn").url;
const [title, summary, technologies] = basics.summary.split(":");
---

<div class="flex flex-col mt-4 sm:flex-row gap-x-2 items-center">
  <picture class="relative aspect-square flex-none">
    {
      basics.available && (
        <span class="absolute flex items-center justify-center bottom-[92%] left-[92%] rounded-full size-5 bg-green-400 border-[3px] border-white dark:border-gray-800 p-px transition hover:scale-110">
          <a
            class="group rounded-full size-full bg-green-500 animate-ping hover:animate-none"
            target="_blank"
            href={linkedInUrl}
          >
            <div class="hidden group-hover:block absolute -top-10 left-1/2 -translate-x-1/2 rounded-lg text-xs font-medium py-2 px-3 border border-green-500">
              <p class="whitespace-nowrap">Disponible para trabajo</p>
            </div>
          </a>
        </span>
      )
    }

    <img
      class="size-32 sm:size-40 border border-gray rounded-xl"
      src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
      alt="user img"
    />
  </picture>
  <div class="max-w-xl p-2">
    <h1
      class="text-gray-800 dark:text-white text-4xl sm:text-5xl font-bold pb-4"
    >
      Hola! soy πk :)
    </h1>
    <p
      class="text-xl dark:text-gray-200 [&>strong]:text-blue-500 [&>strong]:font-bold"
    >
      <strong>{title}</strong>
      {summary}
      <strong><a href="#skills">{technologies}</a></strong>
    </p>
  </div>
</div>
<nav class="flex flex-wrap gap-4 pt-4">
  {
    profiles &&
      profiles.map(({ network, username, url }) => {
        const Icon = SOCIAL_ICONS[network];
        return (
          <SocialPill username={username} url={url}>
            <Icon class="size-4 mx-1" />
            <span class="px-1">{network}</span>
          </SocialPill>
        );
      })
  }
</nav>
