---
import GitHub from "@/icons/GitHub.astro";
import Link from "@/icons/Link.astro";
import ReactJs from "@/icons/React.astro";
import ChakraUi from "@/icons/ChakraUi.astro";

const { name, description, image, technologies, url, repository } = Astro.props;
const TECH_ICONS = {
  ReactJs: { Icon: ReactJs, className: "bg-gray-800" },
  "Chakra-Ui": { Icon: ChakraUi, className: "bg-cyan-600" },
};
---

<article class="group flex flex-col md:flex-row gap-8 h-fit">
  <header
    class="duration-500 md:w-1/2 rounded-xl shadow-xl flex-none group-hover:shadow-2xl md:group-hover:-translate-y-1 overflow-clip"
  >
    <img
      src={image}
      alt=""
      class="duration-500 object-cover object-left-top w-full h-56 sm:h-full md:scale-110 md:group-hover:scale-105"
      loading="lazy"
    />
  </header>
  <div class="flex flex-col justify-between gap-y-4 pb-1">
    <div class="space-y-4">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-300">{name}</h3>
      <ul class="flex flex-wrap gap-2">
        {
          technologies.map(({ technology }) => {
            const Icon = TECH_ICONS[technology].Icon;
            return (
              <li>
                <span
                  class:list={[
                    "flex items-center gap-1 px-2 py-1 rounded-full font-medium text-xs text-white duration-200",
                    TECH_ICONS[technology].className,
                  ]}
                >
                  <Icon class="size-3.5" />
                  {technology}
                </span>
              </li>
            );
          }) 
        }
      </ul>
      <p class="font-medium text-gray-700 dark:text-gray-300">
        {description}
      </p>
    </div>
    <footer
      class="flex gap-2 text-white *:text-lg *:inline-flex *:gap-2 *:items-center *:bg-gray-800 *:py-2 *:px-3 *:rounded-lg *:border *:border-gray-600 *:font-medium"
    >
      {
        repository && (
          <a href={repository} class="md:hover:-translate-y-1 md:hover:shadow-xl active:bg-black hover:border-gray-800 transition-all">
            <GitHub class="size-4" />
            GitHub
          </a>
        )
      }
      {
        url && (
          <a href={url} class="md:hover:-translate-y-1 md:hover:shadow-xl active:bg-black hover:border-gray-800 transition-all">
            <Link class="size-4" />
            Preview
          </a>
        )
      }
    </footer>
  </div>
</article>
